<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
</head>
<title>Random Movie</title>
<div class="row">
{% if title %}
 <div class="column">
 <h2>A Random Movie Information for you</h2>
 <h4>Introducing {{ title }}!</h4>
 {% if year %}
 <h5>Year:</h5>
 <a> {{ year }}</a>
 {% else %}
 <h5>Unknown Year</h5>
 {% endif %}

 {% if director %}
 <h5>Director(s):</h5>
 {% for x in director %}
 <a>{{ x }}</a><br>
 {% endfor %}
 {% else %}
 <h5>Unknown Directors</h5>
 {% endif %}

 {% if release_date %}
 <h5>Release Date:</h5>
 <a>{{ release_date }}</a>
 {% else %}
 <h5>Unknown Release Date</h5>
 {% endif %}

 {% if rating %}
 <h5>Rating:</h5>
 <a>{{ rating }} out of 10.0</a>
 {% else %}
 <h5>Unknown Rating</h5>
 {% endif %}

 {% if genres %}
 <h5>Genre(s):</h5>
 {% for x in genres %}
 <a>{{ x }}</a><br>
 {% endfor %}
 {% else %}
 <h5>Unknown Genres</h5>
 {% endif %}

 {% if image_url %}
 <h5>Poster:</h5>
 <img src="{{ image_url }}">
 {% else %}
 <h5>No Available Poster</h5>
 {% endif %}

 {% if plot %}
 <h5>Plot:</h5>
 <p>{{ plot }}</p>
 {% else %}
 <h5>Unknown Plot</h5>
 {% endif %}

 {% if rank %}
 <h5>Rank:</h5>
 <a>{{ rank }} out of 5000</a>
 {% else %}
 <h5>Unknown Rank</h5>
 {% endif %}

 {% if running_time_secs %}
 <h5>Running Time:</h5>
 <a>{{ running_time_secs }} seconds</a>
 {% else %}
 <h5>Unknown Running Time</h5>
 {% endif %}

 {% if actors %}
 <h5>Actor(s):</h5>
 {% for x in actors %}
 <a>{{ x }}</a><br>
 {% endfor %}
 {% else %}
 <h5>Unknown Actors</h5>
 {% endif %}
</div>
{% else %}
 <h4>Hello, World!</h4>
{% endif %}
<div class="column">
    {% if apiString %}
    <h2>Using REST API:</h2>
    <h3>{{ apiString }}</h3>
    {% else %}
    <h2>API is not working...</h2>
    {% endif %}
    <h2>Or you can Provide Your own Movie Information...</h2>
    <form action="{{ url_for('add') }}" method="POST">
        <h5>Year:</h5>
        <input type="text" name="yearInput">
        <h5>Title:</h5>
        <input type="text" name="titleInput">
        <h5>Director(s) [One name per line]</h5>
        <textarea type="text" name="directorsInput"></textarea>
        <h5>Release Date</h5>
        <input type="date" name="releaseDateInput">
        <h5>Genres</h5>
        <input type="text" name="genresInput">
        <h5>Plot</h5>
        <input type="text" name="plotInput">
        <h5>Rank</h5>
        <input type="text" name="rankInput">
        <h5>Actor(s) [One name per line]</h5>
        <textarea type="text" name="actorsInput"></textarea>
        <br><br><br>
        <input type="submit" value="Submit Information">
    </form>
</div>
</div>